<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
       <div class="navbar-header">
          <a class="navbar-brand" href="#">Fulfil </a>
       </div>
    </div>
 </nav>
 <div class="container-fluid">
    <div class="row">
       <div class="col-lg-2  sidebar">
          <ul class="nav nav-sidebar">
             <li ng-repeat="menu in ctrl.menu" ng-click="ctrl.onStateChange(menu.identifier)" ng-class="{'active' :  ctrl.activeMenu == menu.identifier} " ><a  >
                <i class="fa fa-th-list" aria-hidden="true"></i>  {{menu.title}}</a>
             </li>
          </ul>
       </div>
       <div class="col-lg-10 main_content">
          <div class="row" style="display: flex">
             <div class="search_content" >
                <div ng-if="ctrl.query && ctrl.isSearch">
                   <h3 class="sub-header"  > Search results for 
                   </h3>
                   <h4> <span class="query"> '{{ctrl.query}}'. </span> </h4>
                </div>
             </div>
             <div class="form-group has-feedback" style="width: 40%" >
                <form name="myForm" ng-submit="ctrl.onSearch()" >
                   <input type="text" ng-model="ctrl.query" ng-model-options="{ debounce: 500 }" class="form-control" ng-change="ctrl.onQueryChange();" id="search" name="search" placeholder="Search Here" />
                   <i  class="fa fa-search fa-2x search_icon form-control-feedback" aria-hidden="true"></i>
                </form>
             </div>
          </div>
          <div class="table-responsive">
             <div ui-view> </div>
          </div>
       </div>
    </div>
 </div>